{% extends "base.twig" %}

{% block content %}

	<div class="section">

		<div class="container-fluid">

			<h1 class="page-title">
				{{ post.title }}
			</h1>

			<div class="page-content the-content">
				{{ post.content }}
			</div>

		</div>

	</div>

{% endblock %}