<footer class="main-footer" id="main-footer">

	<div class="container-fluid">

		<p>
			<strong>The Creep Codex</strong> is an encyclopedia of public figures accused of sexual assault and harassment.  We list accusations that have been published in credible, mainstream publications. Please note that in most cases, the allegations listed here have not been proved or disproved in court proceedings.
		</p>

		<p>
			Copyright {{ "now"|date("Y") }} {{ site.name }}. All Rights Reserved.
		</p>

	</div><!-- /.container -->

</footer>