<footer class="main-footer" id="main-footer">

	<div class="container-fluid">

		<p>
			<strong>The Creep Codex</strong> is an encyclopedia of public figures accused of sexual assault and harassment.  We list accusations that have been published in credible, mainstream publications. Please note that in most cases, the allegations listed here have not been proved or disproved in court proceedings.
		</p>

		<p>
			<a href="https://www.themoviedb.org">
				<img src="{{ theme.link }}/assets/img/tmdb-powered-by-logo.svg" alt="Powered by The Movie DB" style="height: 45px; margin-right: 10px;"> 
			</a>
			This product uses the TMDb API but is not endorsed or certified by TMDb.
		</p>

		<hr />

		<p class="text-center">
			Copyright {{ "now"|date("Y") }} {{ site.name }}. All Rights Reserved.
		</p>

	</div><!-- /.container -->

</footer>