{% extends "base.twig" %}

{% block content %}

	{% if featured %}

		<div class="section">

			<div class="container-fluid">

				<div class="home-featured">

					<h5 class="section-heading">

						<div class="section-heading__text">
							Featured Profiles
						</div>

						<div class="section-heading__links">

							<a href="/accused" class="section-heading__link">
								+ See All Accused
							</a>

						</div>

					</h5>

					<div class="person-cards">

						{% for item in featured %}

							{% include 'components/person-card.twig' with {
								name: item.title,
								link: item.link,
								image: item.thumbnail,
								categories: item.terms('industry'),
								subtitle: item.allegation_short
							} only %}

						{% endfor %}

					</div>

				</div>

			</div>

		</div>

	{% endif %}

	{% if industries %}

		<div class="section">

			<div class="container-fluid">

				<div class="home-industries">

					<h5 class="section-heading">
						<div class="section-heading__text">
							Popular Categories
						</div>
						<div class="section-heading__links">
							<a href="/accused/" class="section-heading__link">
								+ All Categories
							</a>
						</div>
					</h5>

					<div class="featured-terms">

						{% for industry in industries[:5] %}

							<a href="/accused/?industry={{ industry.slug }}" class="featured-term">
								<span class="featured-term__title">
									{{ industry.name }}
								</span>
							</a>

						{% endfor %}

					</div>

				</div>

			</div>

		</div>

	{% endif %}

	{% if recent_accused %}

		<div class="section">

			<div class="container-fluid">

				<div class="home-recent">

					<h5 class="section-heading">

						<div class="section-heading__text">
							<i class="fa fa-clock-o fa-lg light-icon"></i> Recent Additions
						</div>

						<div class="section-heading__links">
							<a class="section-heading__link" href="/accused/">
								+ See All Accused
							</a>
						</div>

					</h5>

					<div class="person-teases person-teases--two-col">

						{% for person in recent_accused %}

							{% include 'components/person-tease.twig' with {
								title: person.title,
								link: person.link,
								thumbnail: person.thumbnail,
								job_title: person.job_title,
								allegation_short: person.allegation_short
							} only %}

						{% endfor %}

					</div>

					<hr />

					<p>
						<a href="/accused/" class="btn btn-primary btn-full">
							+ See All Accused
						</a>
					</p>

				</div>

			</div>

		</div>

	{% endif %}

{% endblock %}