{% extends "index.twig" %}

{% block title_area %}

	<h1 class="page-title">
		{{ title }}
		{% if pagination.current > 1 %}
			<div class="page-title__page-number">
				(page {{ pagination.current }})
			</div>
		{% endif %}
	</h1>

{% endblock %}

{% block posts_area %}

	<div class="section">

		{% if posts %}

			<div class="person-teases">

				{% for post in posts %}

					{% include 'components/person-tease.twig' with {
						title: post.title,
						link: post.link,
						thumbnail: post.thumbnail,
						job_title: post.job_title,
						allegation_short: post.allegation_short,
						excerpt: post.get_preview(12, '', '')
					} only %}

				{% endfor %}

			</div>

		{% else %}

			<div class="alert alert-danger">
				<p>
					<i class="fa fa-exclamation-circle"></i>&nbsp; No matches for "{{ query }}."
				</p>
			</div>

			<p>
				If you think the site is missing a public figure who has been accused of sexual assault or harassment, please <strong><a href="/submit-suggestion">submit a suggestion</a></strong>.  It will be reviewed promptly.
			</p>

		{% endif %}

	</div>

{% endblock %}
